h1{
  margin: 20px auto;
}

p{
  display: flex;
  width: 75%;
  margin: 1.2em auto;
  text-align: center;
}

.row1{
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
}

#boss1, #boss2, #boss3{
  margin: 0 auto;
}

.row2{
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
}

#boss4, #boss5{
  margin: 0 auto;
}

#boss1img{
  width: 250px;
  height: 260px;
  background-image: url("../images/octo-oven-silhoutte.png");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: top;
}

#boss1img:hover{
  background-image: url("../images/octo-oven.png");
}

#boss2img{
  width: 250px;
  height: 260px;
  background-image: url("../images/octo-samurai-silhoutte.png");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: top;
}

#boss2img:hover{
  background-image: url("../images/octo-samurai.png");
}

#boss3img{
  width: 250px;
  height: 260px;
  background-image: url("../images/octostomp-silhoutte.png");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: top;
}

#boss3img:hover{
  background-image: url("../images/octostomp.png");
}

#boss4img{
  width: 250px;
  height: 260px;
  background-image: url("../images/octo-shower-silhoutte.png");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: top;
}

#boss4img:hover{
  background-image: url("../images/octo-shower.png");
}

#boss5img{
  width: 250px;
  height: 260px;
  background-image: url("../images/dj-octavio-silhoutte.png");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: top;
}

#boss5img:hover{
  background-image: url("../images/dj-octavio.png");
}